[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
pyyaml = "*"
deep-geometry = "*"
torchvision = "*"
torch = "==0.4.0"
sklearn = "*"
scipy = "*"
"psycopg2-binary" = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.6"
